* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.App {
  background-color: #282c34;
  height: 100vh;
}

.edge-container {
  height: 42vh;
  padding: 15px;
}

.middle-container {
  display: flex;
  height: 16vh;
  align-items: center;
  justify-content: center;
}

.btn {
  background-color: #6f7379;
  color: white;
  text-align: center;
  line-height: 40px;
  width: 80px;
  height: 40px;
  margin: 0 5vw;
  cursor: pointer;
  user-select: none;
}

.btn:hover {
  background-color: #96999d;
}

.btn:active {
  background-color: #515459;
}

textarea {
  display: block;
  width: 100%;
  height: 100%;
  resize: none;
  padding: 5px;
  background-color: #3b3f46;
  border: 1px solid #4f5258;
  border-radius: 3px;
  color: white;
  font-size: 25px;
}

textarea:focus {
  outline: 1px solid #87888a;
}

textarea::placeholder {
  color: #919295;
}

.txt {
  width: 100%;
}
